<launch>
	<node pkg="camera_drive" type="camera_node" name="camera_node" />
	<node pkg="agent_position" type="getposition" name="getposition" />
	<node pkg="learning_tf" type="tf_broadcaster" name="tf_broadcaster" />
	<node pkg="record" type="recordvideo.py" name="recordvideo" />
	<node pkg="co_transform" type="tf_listener_color.py" name="tf_listener_color" output="screen"/>
	<!-- <node pkg="mpc" type="mpc_multipoints.py" name="mpc_multipoints" output="screen"/> -->
	<!-- <node pkg="mpc" type="Jmatrix.py" name="Jmatrix" output="screen"/> -->
	<node pkg="mpc" type="mpc_multipoints_hard_constraints.py" name="mpc_multipoints_hard_constraints" output="screen"/> 
	<node pkg="pulling" type="mpc_pulling.py" name="mpc_pulling" output="screen"/> 

	<!-- <node pkg="co_transform" type="tf_listener.py" name="tf_listener" output="screen"/>
	<node pkg="co_transform" type="low_pass_filter.py" name="low_pass_filter" output="screen"/>
	<node pkg="mpc" type="mpc_filter.py" name="mpc_filter" output="screen"/>  -->

	<!-- <node pkg="co_transform" type="Kalman_filter.py" name="Kalman_filter" output="screen"/> -->
	<!-- <node pkg="mpc" type="mpc_single.py" name="mpc_single" output="screen"/>  -->
	<!-- <node pkg="mpc" type="mpc.py" name="mpc" output="screen"/>  -->
	<!-- <node pkg="mpc" type="mpc_two.py" name="mpc_two" output="screen"/>  -->
	<!-- <node pkg="mpc" type="Jmatrix_Bezier.py" name="Jmatrix_Bezier" output="screen"/>  -->
	<!-- <node pkg="mpc" type="mpc_Bezier.py" name="mpc_Bezier" output="screen"/>  -->

	
</launch> 
