<launch>
	<node pkg="camera_drive" type="camera_node" name="camera_node" />
	<node pkg="agent_position" type="getposition" name="getposition" />
	<node pkg="learning_tf" type="tf_broadcaster" name="tf_broadcaster" />
	<node pkg="co_transform" type="tf_listener.py" name="tf_listener" output="screen"/>
	<node pkg="mpc" type="mpc_single.py" name="mpc_single" output="screen"/> 
	<!-- <node pkg="mpc" type="mpc.py" name="mpc" output="screen"/>  -->
	<!-- <node pkg="mpc" type="Jmatrix.py" name="Jmatrix" output="screen"/> -->
</launch> 
